/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* root */
*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    /* light blue */
    --color-one: 38, 136, 172;
    /* black rock */
    --color-two: 43, 45, 58;
    /* dark green */
    --color-three: 0, 73, 20;
    /* light pink */
    --color-four: 255, 182, 193;
    /* deep pink */
    --color-five: 255, 20, 147;
}

/* Color Classes*/
.light-blue{
    color: rgb(var(--color-one))
}

.black-rock{
    color: rgb(var(--color-two))
}

.dark-green{
    color: rgb(var(--color-three))
}

.light-pink{
    color: rgb(var(--color-four))
}

.deep-pink{
    color: rgb(var(--color-five))
}


/* Body, Footer, Header styling */
body{
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    color: white;
    font-family: 'Poppins', arial, sans-serif;
    background: url(../images/quiz-background.jpg) no-repeat center / cover;
    min-height: 100vh;
}

header{
    position: fixed;
    text-align: center;
}
header h1 {
    margin-bottom: 0;
}
header p {
    font-size: 15px;
    margin-top: 0;
}

footer {
    background-color: rgba(var(--color-two), 0.90);
    position: fixed;
    bottom: 0;
    border-top-left-radius: 60% 80%;
    border-top-right-radius: 60% 80%;
}

footer p {
    margin: 0.5em 0;
}

/* displaying & hiding sections from script,js*/
.show-block {
    display: block;
}

.show-inline-flex{
    display: inline-flex;
}

.hidden{
    display: none;
}
 
/* Generic styling classes that have been reused */
.social{
    font-size: 1.9em;
}

a:visited{
    color: #fff;
}

a:hover{
    color: rgba(var(--color-one), 0.85);
}

h1::after{
    content: "Challenged";
    color: #4c8df7;
    font-weight: bolder;
    text-transform: capitalize;
    font-family: 'Poppins', arial, sans-serif;
    margin
}
/*
div {
    width: 200px;
    height: 100px;
    background: #FFB6C1;
    transition: background-color 0.25s ease-out 100ms
  }
  
  div:hover {
    background-color: #FF1493;
  }
*/

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-weight{
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.rounded-border {
    border-radius: 10px;
}

.padding {
    padding: 0.5em;
}

.margin {
    margin: 0.5em;
}

.margin-zero{
    margin: 0;
}
    
.width {
    width: 100vw;
}

.max-width{
    max-width: 650px;
}

/* landing and call to action styling */
#landing{
    display: inline-flex;
}

#play-btn{
    font-size: 200px;
    border-radius: 50%;
    color: rgba(var(--color-one), 0.70);
}

#play-btn:hover{
    font-size: 200px;
    border-radius: 50%;
    color: rgba(var(--color-four), 0.70);
    animation: pulse 0.5s;
}

/* Start Game section*/
#start-game{
    background-color: rgba(var(--color-two)0.85);
    width: calc(90% - 1em);
    display: none;
}
section p {
    font-size: 20px;
}

::placeholder{
    color: rgb(var(--color-two));
}

#player-name{
    font-size: 1.3em;
    width: calc(90% - 1em);
}

.start-game-btn-holder{
    display: flex;
    justify-content: space-evenly;
    width: calc(90% - 1em);
}

#start-quiz-btn,
#leave-quiz-btn{
    background-color: rgba(var(--color-one), 0.85);
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    padding: 0.25em 0.5em; 
}

/* Animations */
.pulse{
    animation: pulse 1s ease 0s 1 normal forwards;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}